.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  background: #28a745;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 8px;
  gap: 15px;
  box-shadow: 0px 0px 10px #0001;
}

.item img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.delete {
  margin-left: auto;
  background: #e63946;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
