<div class="dashboard-container">
  
  <!-- MENU LATERAL -->
  <aside class="sidebar">
    <h2>Admin</h2>

    <nav>
      <a routerLink="/admin/dashboard" routerLinkActive="active">Visão Geral</a>
      <a routerLink="/admin/produtos" routerLinkActive="active">Produtos</a>
      <a routerLink="/admin/pedidos" routerLinkActive="active">Pedidos</a>
      <a routerLink="/admin/clientes" routerLinkActive="active">Clientes</a>
      <a routerLink="/" class="back-to-site">🏠 Voltar ao Site</a>
    </nav>
  </aside>

  <!-- CONTEÚDO PRINCIPAL -->
  <main class="content">
    <h1>Dashboard</h1>
    <p>Bem-vindo ao painel administrativo da Casinha dos Doces 🍰</p>
    
    <div class="cards">
      <div class="card">
        Produtos Cadastrados
        <strong>{{ produtosCadastrados }}</strong>
      </div>
      <div class="card">
        Pedidos Hoje
        <strong>{{ pedidosHoje }}</strong>
      </div>
      <div class="card">
        Clientas Ativos
        <strong>{{ clientesAtivos }}</strong>
      </div>
    </div>

  </main>
</div>
